.center {
  text-align: center;
}

header {
  margin-top: 40px;
  position: relative;
  padding: 40px 0px;
  color: #EFEFEF;
  background-color: #111;
}

header h1 {
  font-size: 60px;
  line-height: 60px;
}

header .container {
  position: relative;
  z-index: 10;
}

header .lead {
  letter-spacing: 0.1em;
}

.btn.download {
  font-size: 24px;
  padding: 10px 20px;
  margin: 10px 0px;
}


#header-chart {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  left: 50%;
  margin-left:-20px;
}

.sidebar-nav {
  margin-top: 30px;
  width: 200px;
  font-size: 18px;
}

#canvas.affix, .sidebar.affix {
  top: 70px;
  position: fixed;
}

#canvas {
  height: 400px;
  border: 1px solid #999;
  border-radius: 5px;
  position: relative;
}

#canvas .description {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #EEE;
  border-top: 1px solid #999;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  padding: 5px;
}

section {
  padding-top: 30px;
}


@media (max-width: 767px) {
  header {
    padding: 40px 20px;
    margin-left: -20px;
    margin-right: -20px;
  }
}
