<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>{% if page.title %} {{ page.title }} | {%endif%}JSNetworkX</title>
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="stylesheets/styles.css" rel="stylesheet" media="screen">
    <link href="stylesheets/bootstrap-responsive.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="javascripts/scale.fix.js"></script>
    <script src="javascripts/jsnetworkx.js"></script>
    {% for item in page.css %}
      <link href="stylesheets/{{ item }}.css" rel="stylesheet">
    {% endfor %}
  </head>
  <body class="{% if page.menu == 'Home' %}home{%else%}sub{%endif%}" data-spy="scroll" data-target=".sidebar">
    <div id="wrap">
      <div class="navbar navbar-fixed-top" data-spy="affix" data-offset-top="1">
        <div class="navbar-inner">
          <div class="container">
            <ul class="nav">
              {% for item in site.menu %}
              <li class="{%if page.menu contains item.name %} active{% endif %}">
              <a  href="{%if item.url %}{{item.url}}{%else%}{{item.name | downcase}}.html{%endif%}">{{ item.name }}</a>
              </li>
              {% endfor %}
            </ul>
            <p class="navbar-text pull-right">
            <a href="https://github.com/fkling/JSNetworkX">
              Fork me on <strong>GitHub</strong>
            </a>
            </p>
          </div>
        </div>
      </div>
      <div id="header">
      <div id="header-chart"></div>
      <div class="container {% if page.menu == 'Home' %}text-center{% endif %}">
        <h1>{% if page.title %} {{ page.title }} {% else %}JSNetworkX{% endif %}</h1>
        {% if page.sub %}<p class="lead">{{ page.sub }}</p>{% endif %}
      </div>
      </div>
      <div class="container">
        {{ content }}
      </div>
      <div id="push"></div>
    </div>
      <div id="footer">
        <div class="container">
          <p class="muted credit text-center">
            JSNetworkX is developed and maintained by <a href="http://felix-kling.de">Felix Kling</a> ||
            <a href="https://ml06.ispgateway.de/mailman/listinfo/list_jsnetworkx.org">Mailing list</a> ||
            <a href="mailto:mail@jsnetworkx.org">mail@jsnetworkx.org</a> ||
            <a href="https://github.com/fkling/JSNetworkX">GitHub</a>
          </p>
        </div>
      </div>
    {% if page.menu != 'Home' %}
    <script src="javascripts/graph.js"></script>
    {% endif %}
    <!-- Piwik -->
    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(["trackPageView"]);
      _paq.push(["enableLinkTracking"]);

      (function() {
       var u=(("https:" == document.location.protocol) ? "https" : "http") + "://piwik.reblaus-kleinkunst.de/";
       _paq.push(["setTrackerUrl", u+"piwik.php"]);
       _paq.push(["setSiteId", "4"]);
       var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
       g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
       })();
    </script>
    <!-- End Piwik Code -->
    </script>
    <noscript>
    <!-- Piwik Image Tracker -->
    <img src="http://piwik.reblaus-kleinkunst.de/piwik.php?idsite=4&amp;rec=1" style="border:0" alt="" />
    <!-- End Piwik -->
    </noscript>
    <!-- End Piwik Tracking Code -->
  </body>
</html>
